body {
    background-image: url(../img/workshops/27.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    border-radius: 200px;
}

.d1 {
    margin: 60px;
}

.i1 {
    border-radius: 200px;
}

#all {
    background-color: rgba(128, 128, 128, 0.522);
    margin: 20px;
    width: 50%;
    left: 300px;
    position: relative;
}

span {
    position: inherit;
    margin-top: 7px;
    padding: 7px;
    font-size: 20px;
}
