@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/contact.css">
</head>
<body>
    <p style=" left: 10%;  top: 18%;  position: relative;">123abdelnaser st.<br> assuit,ST 12345  </p>

    <p style=" left:10%;  top: 23%; position: relative;">(123) 185-826995</p>


    <p style="  left:10%;  top: 25%; position: relative;">handcraft@yahoo.com</p>
    <div style="position: relative;   left:6%; top: 45%;">
<pre><span>Sunday to Thusrday</span>
9:00 am to 6:00 pm</pre>
<pre><span>Saturday</span>
9:00 am to 12 noon</pre>
       <span>Closed on Friday</span>
    </div>
    <div style="position:relative; bottom:8%; left:58%">
        <table>
           <tr>
            <label style="color:chocolate">Comments:</label>
            </tr>
            <td>
        <textarea cols="40" rows="20">
        </textarea>
            </td>
            <tr>
                <td align="right" style="color:chocolate"><button>add</button></td>
            </tr>
        </table>
    </div>
</body>
</html>