@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Search Form</title>
    <link rel="stylesheet" type="text/css" href="~/css/search.css">
</head>
<body>
    <table align="center">
        <div class="d1">
        <tr>
            <td><input type="text" name="search" size="50" class="i1"></td>
            <td><button><img src="img/workshops/21.jpg" width="20" height="20"> </button></td>
            </div>
        </tr>
    </table>
    <div id="all">
        <div>
            <img src="img/workshops/3.jpg" height="50" width="50">
            <span> Acceciories</span>
        </div>
    </div>
    <div id="all">
        <div>
            <img src="img/workshops/20.jpg" height="50" width="50">
            <span> Crochet</span>
        </div>
    </div>
    <div id="all">
        <div>
            <img src="img/workshops/13.jpg" height="50" width="50">
            <span> Earthenware</span>
        </div>
    </div>
    <div id="all">
        <div>
            <img src="img/workshops/17.jpg" height="50" width="50">
            <span> Tapestry</span>
        </div>
    </div>
    <div id="all">
        <div>
            <img src="img/workshops/19.jpg" height="50" width="50">
            <span> Macrame</span>
        </div>
    </div>
</body>

</html>