
<html>
    <head>
      
    </head>
<body style="background-image:url(img/1.jpg); background-attachment: fixed;">
    

    <h2 align="center">Categories</h2>
       
           <center> <div style="position:relative; ">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Accessories">
                    <img src="~/img/workshops/3.jpg" alt="" width="700px" height="350px" />
                    <h3>Accessories</h3>
                </a>
        </div>
    </center>
    <center>
        <div style="position:relative;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="crochet">
                <img src="~/img/workshops/20.jpg" alt="" width="700px" height="350px" />
                    <h3>Crochet</h3>
               </a>

        </div>
    </center>

    <center>

    <div class="box" style="position:relative;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Earthenware">
                <img src="~/img/workshops/13.jpg" alt="" width="700px" height="350px" />
                    <h3>Earthenware</h3>
                </a>
        </div>
    </center>
    <center>

        <div class="box" style="position:relative;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tapestry">
                <img src="~/img/workshops/17.jpg" alt="" width="700px" height="350px" />
                    <h3>Tapestry</h3>
                </a>

        </div>
    </center>

            <div class="box" align="center" >
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="macrame">
            <img src="~/img/workshops/19.jpg" alt="" width="30%" height="350px" />
                    <h3>macrame</h3>
                </a>
            </div>

</body>

</html>
