@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
</head>
<body style="background-image:url(img/1.jpg);">
    <div style="float:right">
        <img src="~/img/makrama/makramy-makatki-12682655_79587379.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">300 L.E</h2>
        <img src="~/img/makrama/0_0_productGfx_20085.webp" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">50L.E</h2>

        <img src="~/img/makrama/6501495_t.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">15 L.E</h2>
        <br />
        <img src="~/img/makrama/6ed1b6e0e9d66461164fe3a64010e2a0.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">10 L.E</h2>
    </div>
    <div style="float:right">
        <img src="~/img/makrama/71faubA+wYL._SL1080_.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">20 L.E</h2>

        <img src="~/img/makrama/82cfcb0e03a5dd036e4d7f2aca86.png" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">60 L.E</h2>
        <br />
        <img src="~/img/makrama/download (1).jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">70 L.E</h2>
        <br />
        <img src="~/img/makrama/download (2).jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">280 L.E</h2>
    </div>
    <div>
        <img src="~/img/makrama/Okr-g-y-makrama-Handmade-makija-lustro-ozdobne-gobelin-cienny-na-ozdoba-na-lustro-sypialnia-salon.jpg_Q90.jpg_.webp" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">60 L.E</h2>

        <img src="~/img/makrama/download.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">40 L.E</h2>
        <br />
        <img src="~/img/makrama/e3097580aafa1948a20c25b13f595959.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">20 L.E</h2>
        <br />
        <img src="~/img/makrama/wp-image-1438283879jpg.webp" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">250 L.E</h2>
    </div>

</body>

</html>