@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
</head>
<body style="background-image:url(img/1.jpg);">
    <div style="float:right">
        <img src="~/img/tapestry/5-Models-Geometric-Handmade-Tapestry-Wall-Hanging-Macrame-Home-Decor-Retro-Nordic-Door-hang-Craft-Handcrafted.jpg_Q90.jpg_.webp" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">300 L.E</h2>
        <img src="~/img/tapestry/71e3kSOO3IL._AC_SX569_.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">50L.E</h2>

        <img src="~/img/tapestry/71Ly6k3ErNL._AC_SX569_.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">15 L.E</h2>
        <br />
        <img src="~/img/tapestry/71UP2oBOyfL._AC_SX569_.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">10 L.E</h2>
    </div>
    <div style="float:right">
        <img src="~/img/tapestry/images.jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">20 L.E</h2>

        <img src="~/img/tapestry/download (3).jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">60 L.E</h2>
        <br />
        <img src="~/img/tapestry/images (6).jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">70 L.E</h2>
        <br />
        <img src="~/img/tapestry/images (5).jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">280 L.E</h2>
    </div>
    <div>
        <img src="~/img/tapestry/images (4).jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">60 L.E</h2>

        <img src="~/img/tapestry/images (1).jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">40 L.E</h2>
        <br />
        <img src="~/img/tapestry/images (2).jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">20 L.E</h2>
        <br />
        <img src="~/img/tapestry/images (3).jpg" width="350px" height="300px" />
        <h2 style="position:relative;left:150px">250 L.E</h2>
    </div>

</body>

</html>