@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/category.css">
    <title>Handicraft</title>
</head>
<body>
    <div class="heart"></div>
    <span class="tittle">Handicraft</span>
    <div class="text">
        <span class="sub-tittle">Wicker Dish</span>

        <p>
            height:30   <br>
            width:20    <br>
            color: beige
        </p>
    </div>
    <div class="container">
        <a href=""><img src="~/img/category/25.jpg" width="40px" class="nav-buttons"></a>
        <img src="~/img/category/18.jpg" width="190" height="300">
        <a href=""><img src="~/img/category/24.jpg" width="40px" class="nav-buttons"></a>
    </div>
    <a href=""><button>ADD TO CART</button></a>
    <a href=""><button>CHAT</button></a>

</body>
</html>